<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Concurrency">
            <directory>tests/Concurrency</directory>
        </testsuite>
        <testsuite name="Benchmark">
            <directory>tests/Benchmark</directory>
        </testsuite>
        <testsuite name="Kernel">
            <directory>tests/Kernel</directory>
        </testsuite>
        <testsuite name="Storage">
            <directory>tests/Storage</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
    </php>
</phpunit>
